@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Figtree&family=Plus+Jakarta+Sans:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layerbase {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}